---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Render by year -->
{% assign publications_by_year = site.publications | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}
{% for year in publications_by_year %}
  <h2>{{ year.name }}</h2>
  <hr/>
  {% for post in year.items reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}

<!-- Fallback -->
{% if site.publications.size == 0 %}
  <p>No publications available yet.</p>
{% endif %}
